<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>article</key>
	<array>
		<dict>
			<key>title</key>
			<string>情感小说</string>
			<key>url</key>
			<string>/htm/novellist1</string>
		</dict>
        <dict>
            <key>title</key>
            <string>校园春色</string>
            <key>url</key>
            <string>/htm/novellist2</string>
        </dict>
        <dict>
            <key>title</key>
            <string>人妻女友</string>
            <key>url</key>
            <string>/htm/novellist10</string>
        </dict>
        <dict>
            <key>title</key>
            <string>武侠古典</string>
            <key>url</key>
            <string>/htm/novellist4</string>
        </dict>
        <dict>
            <key>title</key>
            <string>家庭乱伦</string>
            <key>url</key>
            <string>/htm/novellist5</string>
        </dict>
        <dict>
            <key>title</key>
            <string>另类小说</string>
            <key>url</key>
            <string>/htm/novellist6</string>
        </dict>
        <dict>
            <key>title</key>
            <string>性爱技巧</string>
            <key>url</key>
            <string>/htm/novellist8</string>
        </dict>
        <dict>
            <key>title</key>
            <string>情色笑话</string>
            <key>url</key>
            <string>/htm/novellist9</string>
        </dict>
	</array>
    <key>picture</key>
    <array>
        <dict>
            <key>title</key>
            <string>偷拍自拍</string>
            <key>url</key>
            <string>/htm/piclist9</string>
        </dict>
        <dict>
            <key>title</key>
            <string>亚洲图片</string>
            <key>url</key>
            <string>/htm/piclist1</string>
        </dict>
        <dict>
            <key>title</key>
            <string>欧美图片</string>
            <key>url</key>
            <string>/htm/piclist2</string>
        </dict>
        <dict>
            <key>title</key>
            <string>卡通动漫</string>
            <key>url</key>
            <string>/htm/piclist3</string>
        </dict>
        <dict>
            <key>title</key>
            <string>乱伦性爱</string>
            <key>url</key>
            <string>/htm/piclist4</string>
        </dict>
        <dict>
            <key>title</key>
            <string>另类图片</string>
            <key>url</key>
            <string>/htm/piclist5</string>
        </dict>
        <dict>
            <key>title</key>
            <string>美腿丝袜</string>
            <key>url</key>
            <string>/htm/piclist7</string>
        </dict>
        <dict>
            <key>title</key>
            <string>清纯唯美</string>
            <key>url</key>
            <string>/htm/piclist8</string>
        </dict>
    </array>
</dict>
</plist>
