<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>人事面试</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>人事面试一百问</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>程序员非技术面试题</string>
			<key>type</key>
			<string>txt</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>面试知识点</string>
			<key>type</key>
			<string>html</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大文件下载</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>多线程总结1</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>网络请求</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>面试题总结</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>数据传输</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>100道面试题及答案</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>多线程</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS性能优化01</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS性能优化02</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OC特有语法问题总结</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>网络状态码</string>
			<key>type</key>
			<string>txt</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>主要技术和项目经验</string>
			<key>type</key>
			<string>html</string>
		</dict>
		<dict>
			<key>name</key>
			<string>项目描述</string>
			<key>type</key>
			<string>html</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>01-多线程网络</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>02-内存管理</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>03-Foundation</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>04-数据存储</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>05-UI控件</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>06-应用程序</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>07-第三方框架</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>08-其他</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS笔试题01</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS笔试题02</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS笔试题03</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS笔试题04</string>
			<key>type</key>
			<string>txt</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>AFN</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ASI</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ASI和AFN的区别</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>HTML+CSS+JS</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>文件上传分析</string>
			<key>type</key>
			<string>txt</string>
		</dict>
		<dict>
			<key>name</key>
			<string>文件解压缩</string>
			<key>type</key>
			<string>txt</string>
		</dict>
	</array>
</array>
</plist>
